<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= link_to image_tag("slide-01.jpg", alt: "Slide1"), '#' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Match Clothes</h1>
          <p class="lead">Select a piece of clothing you own or are planning to buy, and we'll find you clothes to compliment your new outfit.</p>
          <%= link_to 'Find Clothes!', clothing_items_path, class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("slide-02.jpg", alt: "Slide2"), '#' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p class="lead">More example text.</p>
          <a class="btn btn-large btn-primary" href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="item">
      <%= link_to image_tag("slide-03.jpg", alt: "Slide3"), '#' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p class="lead">One more thing of example text.</p>
          <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
