<div class="row">
  <%= form_for @clothing_item, :html => { :multipart => true } do |f| %>
    <div class="span4">
	  <%=f.file_field :photo %>
	</div>
    <div class="span6">
      <%= f.label :clothing_name %>
      <%= f.text_field :clothing_name %>

      <%= f.label :clothing_brand, "Clothing Brand" %>
      <%= f.text_field :clothing_brand %>

      <%= f.label :clothing_type, "Clothing Type" %>
      <%= f.text_field :clothing_type %>

      <%= f.label :clothing_color1, "Primary Color" %>
      <%= f.text_field :clothing_color1 %>

      <%= f.label :clothing_color2, "Secondary Color" %>
      <%= f.text_field :clothing_color2 %>

      <%= f.label :clothing_url, "Link to Clothing Page" %>
      <%= f.text_field :clothing_url %>

      <%= f.label :clothing_price, "Price" %>
      <%= f.text_field :clothing_price %>

      <%= f.submit "Create Clothing", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
</div>