<h1>Clothes</h1>

<%= link_to 'New Article of Clothing', new_clothing_item_path, class: "btn btn-mini btn-info" %>
</br>
<% @clothing.each do |clothing| %>
  <div class="span4">
    <div class="well">
	  <div class="center">
  	    <%= link_to image_tag(clothing.photo.url(:small)), clothing %>
      </div>
  	  <br/>
  	  <h2><%= clothing.cap_name(clothing.clothing_name) %></h2>
  	  <h5><%= clothing.clothing_brand %></h5>
    </div>
  </div>
<% end %>
