<br/>
<br/>
<br/>
<br/>
<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @clothing_item.photo.url(:small) %>
  <br/>	
  <b>Name:</b>
  <%= @clothing_item.clothing_name %>
  <br/>
  <b>Brand:</b>
  <%= @clothing_item.clothing_brand %>
  <br/>
  <b>Type:</b>
  <%= @clothing_item.clothing_type %>
</p>