<header class="navbar navbar-wrapper navbar-inverse">
  <div class="container">
    <div class="navbar-inner">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "FashionApp", root_path, class: "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><%= link_to "Home", '#' %></li>
          <li><%= link_to "About", '#' %></li>
          <li><%= link_to "Contact", '#' %></li>
          <li><%= link_to "Find Clothes", clothing_items_path %></li>
        </ul>
      </div>
    </div>
  </div> 
</header>