<!DOCTYPE html>
<html>
  <head>
    <title>FashionApp</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <%= render 'layouts/header' %>
    <br/>
    <br/>
    <br/>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
